<form class="flex-column" [formGroup]="newAccount" (ngSubmit)="save(newAccount.value, newAccount.valid)">
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username" required>
    <!-- <div *ngIf="newAccount.get('username').status === 'PENDING'">Checking...</div> -->
    <mat-error *ngIf="newAccount.controls.username.invalid">{{ getErrorMessage(newAccount.controls.username) }}</mat-error>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="E-Mail" formControlName="email" required>
    <!-- <div *ngIf="newAccount.get('username').status === 'PENDING'">Checking...</div> -->
    <mat-error *ngIf="newAccount.controls.email.invalid">{{ getErrorMessage(newAccount.controls.email) }}</mat-error>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Password" type="password" formControlName="password" required>
    <mat-error *ngIf="newAccount.controls.password.invalid">{{ getErrorMessage(newAccount.controls.password) }}</mat-error>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Re-Type Password" type="password" formControlName="passAgain" required>
    <mat-error *ngIf="newAccount.controls.passAgain.invalid">{{ getErrorMessage(newAccount.controls.passAgain) }}</mat-error>
  </mat-form-field>
  
  <button mat-raised-button color="primary" class="full-width" [disabled]="createBtnDisabled()">Create Account</button>
</form>