<mat-toolbar color="primary">
  <span>{{ title }}</span>

  <span class="example-spacer"></span>
  
  <a mat-icon-button href="https://material.io/icons" target="_blank">
    <mat-icon>open_in_new</mat-icon>
  </a>
</mat-toolbar>