<mat-card class="login-container">
  <mat-card-title>{{ signup ? "Sign Up" : "Login" }}</mat-card-title>
  
  <form *ngIf="!signup; else signupBlock" class="flex-column" [formGroup]="login" (ngSubmit)="submit(login.value)">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password" required>
    </mat-form-field>
    
    <button *ngIf="!signup" mat-raised-button color="primary" class="full-width pad-bottom" [disabled]="!login.valid">Login</button>
  </form>
  <ng-template #signupBlock>
    <app-signup-form></app-signup-form>
  </ng-template>
  
  <mat-card-footer>
      <button mat-button color="primary" (click)="signup = !signup" class="full-width">
        {{ signup ? "Already have an account? Login here" : "No Account? Make one now!" }}
      </button>
  </mat-card-footer>
</mat-card>

