.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-content,
app-login {
    flex: 1 0 auto;

    display: flex;
    flex-direction: row;
}


.sidenav {
    flex: 1 0 auto;
    background-color: rgb(126, 128, 0);
}
.scroll-area {
    flex: 3 0 auto;
    background-color: rgb(128, 9, 0);
}


app-footer {
    background-color: rgb(175, 175, 175);
}