 <div class="app-container">
  <app-header [title]="title"></app-header>
  <div class="app-content" *ngIf="auth.isAuthorized(); else loginBlock">
    <div class="sidenav">Sidenav</div>
    <div class="scroll-area"><router-outlet></router-outlet></div>
  </div>
  <ng-template #loginBlock>
    <app-login></app-login>
  </ng-template>
  <app-footer></app-footer>
 </div>