/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0px;
    /* height: 100% */
}

html, body {
    height: 100%;
}

.full-width {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}



.loadingPanel > .mat-dialog-container {
    background-color: transparent;
    box-shadow: none;
 }